<!DOCTYPE>
<html lang="ru" style="overflow-y:scroll">

<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/js.cookie.js"></script>
    <script src="js/href.js"></script>
    <script src="js/frontEnd.js"></script>
    <script src="js/data.js"></script>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="58RrUpwesv73YR67qBx5PYgzlM_5oncHQ_PjQsVSSpY" />
    <meta name="recreativ-verification" content="Co7ZxykSgMTWDwy5imMARcay0LiTtlWZhjXIrooQ" />
    <meta name="yandex-verification" content="b1cec1ab0f5f0ae3" />
    <meta Name="Publisher-Email" Content="600amper@gmail.com" />
    <meta Name="revisit-after" Content="2 days" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="фильмы смотреть 
Frimes- это новый онлайн кинотеатр бесплатного пользования. Вам больше не нужно ждать телепремьер или стоять тысячные очереди в кино. 
Теперь, чтобы посмотреть любимую новинку, Вам достаточно совершить несколько кликов и удобно расположиться на диване. 
На нашем сервисе, Вы можете найти: сотни фильмов, сериалов, комедийных шоу в жанре стендап в хорошем качестве. Большой выбор и разнообразие жанров не оставит никого равнодушным. 
Каждый сможет найти для себя множество любимых фильмов или, схожих с Вашими вкусами, сериалов. Нет никаких органический, выбирайте, что Вы хотите. 
Провести тёплый семейный вечер за просмотром отличного кино? Посмотреть все сезоны сериала в режиме марафона с друзьями? Всё это, и многое другое, вам поможет осуществить Frimes. 
Наш дизайн и техническая начинка- полностью авторская разработка. Поэтому, у нас Вы не найдёте назойливой рекламы или платных показов, а наш простой и удобный интерфейс не предоставит вам неудобств.">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="css/main/mainCss.css" rel="stylesheet">
    <link href="css/data/data.css" rel="stylesheet">
    <title>
        <%-title%>
    </title>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter42920644 = new Ya.Metrika({
                        id: 42920644,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true,
                        trackHash: true,
                        ut: "noindex",
                        ecommerce: "dataLayer"
                    });
                } catch (e) {}
            });
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function() {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";
            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <!-- /Yandex.Metrika counter -->

</head>

<body>
    <h1 class="none">
        Смотреть фильмы и сериалы frimes.ru бесплатно Фраймс- это новый онлайн кинотеатр бесплатного пользования. Вам больше не нужно ждать телепремьер или стоять тысячные очереди в кино. Теперь, чтобы посмотреть любимую новинку, Вам достаточно совершить несколько
        кликов и удобно расположиться на диване. На нашем сервисе, Вы можете найти: сотни фильмов, сериалов, комедийных шоу в жанре стендап в хорошем качестве. Большой выбор и разнообразие жанров не оставит никого равнодушным. Каждый сможет найти для
        себя множество любимых фильмов или, схожих с Вашими вкусами, сериалов. Нет никаких органический, выбирайте, что Вы хотите. Провести тёплый семейный вечер за просмотром отличного кино? Посмотреть все сезоны сериала в режиме марафона с друзьями?
        Всё это, и многое другое, вам поможет осуществить Фраймс. Наш дизайн и техническая начинка- полностью авторская разработка. Поэтому, у нас Вы не найдёте назойливой рекламы или платных показов, а наш простой и удобный интерфейс не предоставит вам
        неудобств.
    </h1>

    <div>
        <%- include('../static/html/mobileHeader.html'); %>
            <div class="hidden-xs  head">

                <div class="lgMd hidden-xs">


                    <a href="/">
                        <div class="center logo-lg">
                            <span>Frimes</span>
                        </div>
                    </a>
                    <div class="head-color">
                        <my-header :active="'<%-collection%>'" :value="header" v-for="header in headers"></my-header>
                        <my-header-new :active="''"></my-header-new>
                    </div>


                </div>
            </div>
    </div>

    <div class="content" >

        <div class="back backGround">
            <input placeholder="<%-title%>" v-model="input" class="inp inpStyle">
        </div>

        <div class="divForFilms" v-cloak>
            <div class="films filmsMargin margin" v-for="film in movies">
                <div v-url="'/player?<%-collection%>='+film.<%-link%>" id="playButton" class="playButton notPlayButton">
                    <!--<div id="recommendation">
                    </div>
                    <svg id="button" viewBox="0 0 86 100" class="svg">
 				       <polygon  points="0,0 0,100 86,50"/>
				    </svg>-->
                    <img class="movieImg" v-bind:alt="film.name" align="middle" v-bind:src="film.imgDes">
                </div>

                <span class="film">
	           
                   <p class="name" v-url="'/player?<%-collection%>='+film.<%-link%>">{{film.name}}</p>
               
	
	           <div class="country" >
                   <span v-for="(country,index) in film.country">{{country}}
                        {{index==film.country.length-1?'':', '}}
                   </span>
            </div>

            <div class="zhanr">
                <span class="letter" v-on:click="setGanre(film.genres,index)" v-for="(ganre,index) in film.genres">
                        <span class="animGanre">{{ganre}}</span>{{index==film.genres.length-1?'':', '}}
                </span>
            </div>
            <div class="reiting">
                <span style="text-align:left">
                       <img src="img/star.svg">
		                      {{film.rating}}
                   </span>
            </div>

            </span>
            <span class="reitingYear ng-binding">
                {{film.year}}
            </span>

        </div>
        <div class="nothingFound" v-bind:style="{display:movies.length==0?'block':'none'}" >
            Ничего не найдено
        </div>

    </div>

    </div>
    <script>
        getData(`<%-body%>`, '<%-collection%>');
        createHeader();
    </script>
</body>

</html>