<!DOCTYPE>
<html lang="ru" >

<head>
    <script src="js/js.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js">
    </script>
    <script src="js/frontEnd.js"></script>
    <script src="js/href.js"></script>
    <script src="js/player_<%-type%>.js"></script>
    <script src="js/player.js"></script>
    <meta name="description" content="<%-description%> ">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="<%-name%>" />
    <meta name="Keywords" content="смотреть,<%-title%>,<%-name%>,бесплатно,без рекламы,frimes.ru,frimes">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="css/main/mainCss.css" rel="stylesheet">
    <link href="css/player/player.css" rel="stylesheet">
    <title>Смотреть
        <%-type%>
        <%-title%>
            <%-name%>
    </title>
    <script type="text/javascript">
        (function(d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter42920644 = new Ya.Metrika({
                        id: 42920644,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true,
                        trackHash: true,
                        ut: "noindex",
                        ecommerce: "dataLayer"
                    });
                } catch (e) {}
            });
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function() {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";
            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
</head>

<body>
    <div class="none">
        <h1>Смотреть бесплатно
            <%-name%>
        </h1>
        <h2>
            <%-year%>
        </h2>
    </div>
    <div>
        <%- include('../static/html/mobileHeader.html'); %>
            <div class="hidden-xs  head">

                <div class="lgMd hidden-xs">
                    <a href="/">
                        <div class="center logo-lg">
                            <span>Frimes</span>
                        </div>
                    </a>
                    <div class="head-color">
                        <my-header :active="''" :value="header" v-for="header in headers"></my-header>
                        <my-header-new :active="''"></my-header-new>
                    </div>
                    
                </div>
            </div>
    </div>
    <div class="content margin">
        <div id="movie" v-cloak>
            <% if (type=='films') { %>
                <%- include('../static/html/films.html'); %>
            <% } else{ %>  
                <%- include('../static/html/series.html'); %>
            <% } %>
            <div id="description" class="margin info block ">
                <div id="descriptionName" class="descriptionName descNameSm ">
                    {{movie.name}}
                </div>
                <diV class="centerImg descImgSm">
                    <img id="imgDes" v-bind:src="movie.imgDes">
                </diV>
                <div class="description descImgSm">
                    <div id="descriptionName" class="descriptionName descNameLg">
                        {{movie.name}}
                    </div>
                    <div class="movieProps">
                        <span class="movieProp">Жанры:</span>
                        <span class="movieProp" v-for="(genre,index) in movie.genres">
                                <span class="ganreProp" v-url="'/<%-collection%>#'+genre">{{genre}}</span> {{index==movie.genres.length-1?'':', '}}
                        </span>
                    </div>
                    <div class="movieProps">
                        <span class="movieProp">Страны:</span>
                        <span v-for="(country,index) in movie.country">
                                {{country}}
                                {{index==movie.country.length-1?'':', '}}
                            </span>
                    </div>
                    <div class="movieProps">
                        <span class="movieProp">Рейтинг:</span>
                        <span class="ratingProp">
                                {{movie.rating}}
                            </span> /10

                    </div>
                    <div class="movieProps">
                        <span class="movieProp">Год:</span>
                        <span>
                                {{movie.year}}
                                
                            </span>
                    </div>
                </div>
                <div class="descriptionText">{{movie.text}}</div>
            </div>
        </div>
        <div class="margin lastBlock block " v-cloak>
            <div id="leftButton" class="left leftButton button  mouse ">
                <img @click="framesBack" src="img/leftArrow.svg">
            </div>
            <div class="left recommendation">
                <div class="center recommendTitle">Рекомендуем для просмотра</div>
                <div class="scroll imgFrames" id="scroll">
                    <div>
                        <div id="imgFrame" v-animate="obj.animPos" v-for="obj in frames" class="imgSize repeat">
                                <div v-url="'/player?<%-collection%>='+obj.frame.name">
                                    <div id="playButton" class="playButton">
                                        <div id="recommendation" style="z-index:2">
                                        </div>
                                        <svg id="button" viewBox="0 0 86 100" class="svg">
 									          <polygon  points="0,0 0,100 86,50"/>
									       </svg>
                                        <img class="botImg" align="middle" v-bind:src="obj.frame.imgDes">
                                    </div>
                                </div>
                                <div class="bot-text">{{obj.frame.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rightButton" class="button left mouse  ">
                <img @click="framesForward" src="img/rightArrow.svg">
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="colorFooter">
            <span>Frimes.ru</span> - все ваши любимые фильмы и сериалы здесь
        </div>
        <h5>
            Frimes- это новый онлайн кинотеатр бесплатного пользования. Вам больше не нужно ждать телепремьер или стоять тысячные очереди в кино. Теперь, чтобы посмотреть любимую новинку, Вам достаточно совершить несколько кликов и удобно расположиться на диване.
            На нашем сервисе, Вы можете найти: сотни фильмов, сериалов, комедийных шоу в жанре стендап в хорошем качестве. Большой выбор и разнообразие жанров не оставит никого равнодушным. Каждый сможет найти для себя множество любимых фильмов или, схожих
            с Вашими вкусами, сериалов. Нет никаких органический, выбирайте, что Вы хотите. Провести тёплый семейный вечер за просмотром отличного кино? Посмотреть все сезоны сериала в режиме марафона с друзьями? Всё это, и многое другое, вам поможет
            осуществить Frimes. Наш дизайн и техническая начинка- полностью авторская разработка. Поэтому, у нас Вы не найдёте назойливой рекламы или платных показов, а наш простой и удобный интерфейс не предоставит вам неудобств.
        </h5>
    </div>
    <script>
        createHeader();
        createPlayer(JSON.parse('<%-body%>'));
        reccomend(JSON.parse('<%-frame%>'))
    </script>
</body>

</html>